.sort-destination {
  width: 100vw !important;
  justify-content: center !important;
  display: flex !important;
}

.isotope-item {
  width: 25% !important;
}

.nav-wrapper {
  background-color: #ffffff;
}

nav {
  height: 20vh;
}

.button-text {
  font-size: 16px;
  text-align: center;
}

.btn {
  letter-spacing: 1px;
  text-transform: none;
  border-width: 1px;
}

.block-items {
  display: flex;
  margin-right: 5%;
}

.button-account {
  margin-left: 2%;
  margin-right: 2%;
}

.menu-wrapper:hover {
  background-color: #000000;
}

.menu-wrapper:hover button {
  color: white;
}

.menu-wrapper:hover > .black-menu {
  display: none;
}

.canvas-logo {
  width: 30%;
  height: auto;
}

.language {
  display: flex;
}

.nav-link {
  color: #121519 !important;
}

.nav-link:hover {
  color: #bbbbbb !important;
}

.map-wrapper {
  text-align: center;
  justify-content: center;
}

.logo {
  margin-left: 5vw;
}

.menu-text {
  margin-left: 0.5vw;
  font-size: 0.8rem !important;
  letter-spacing: 1px;
}

.active {
  text-decoration: underline !important;
  font-weight: 600;
}

.about-us-title {
  font-size: 48px;
}

.contact-icons {
  width: 100px;
  height: 100px;
}

.contact-value {
  font-size: 20px;
}

.contact-item {
  margin-top: 5%;
}

.contact-wrapper {
  margin-bottom: 5%;
}

.contact-main-wrapper {
  margin-left: 30% !important;
  margin-right: 30% !important;
}

.about-us-text {
  border-radius: 15px;
  padding: 2% 4%;
  font-size: 16px;
}

.main-text-wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

.projects-text {
  color: #000000;
  letter-spacing: 1px !important;
  font-size: 1.75rem;
  padding-right: 2vw;
}

.projects-wrapper {
  width: 100%;
  height: 10vh;
  text-align: center;
  margin-top: 10vh;
}

.width-align {
  width: 400px !important;
  height: 400px !important;
}

.width-align:hover {
  width: 400px !important;
  height: 400px !important;
  -webkit-filter: blur(2.5px); /* Chrome, Safari, Opera */
  filter: blur(2.5px);
}

@media only screen and (max-width: 880px) {
  .block-items {
    display: none;
  }
  .logo {
    margin-right: 15vw;
  }
  .map-pic {
    width: 100%;
    height: auto;
  }
  .projects-text {
    padding-left: 8vw !important;
  }
  .main-text-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }

  .contact-main-wrapper {
    margin-left: 15% !important;
    margin-right: 15% !important;
  }
  .contact-item {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .block-items {
    margin-right: 10% !important;
  }
  .projects-text {
    margin-left: 1vw;
  }
}
