.sort-destination {
  width: 100vw !important;
  justify-content: center !important;
  display: flex !important;
}

.isotope-item {
  width: 25% !important;
}

.nav-wrapper {
  background-color: #ffffff;
}

.about-us-title {
  font-size: 48px;
}

.nav-bg {
  background-color: #F6F1EB;
}

nav {
  height: 20vh;
}

.button-text {
  font-size: 16px;
  text-align: center;
}

.btn {
  letter-spacing: 1px;
  text-transform: none;
  border-width: 1px;
}

.block-items {
  display: flex;
  margin-right: 5%;
}

.button-account {
  margin-left: 2%;
  margin-right: 2%;
}

.menu-wrapper:hover {
  background-color: #000000;
}

.menu-wrapper:hover button {
  color: white;
}

.canvas-logo {
  width: 30%;
  height: auto;
}

.language {
  display: flex;
}

.nav-link {
  color: #121519 !important;
}

.nav-link:hover {
  color: #bbbbbb !important;
}

.map-wrapper {
  text-align: center;
  justify-content: center;
}

.logo {
  margin-left: 5vw;
}

.menu-text {
  margin-left: 0.5vw;
  font-size: 0.8rem !important;
  letter-spacing: 1px;
}

.active {
  text-decoration: underline !important;
  font-weight: 600;
}

.projects-text {
  color: #000000;
  letter-spacing: 1px !important;
  font-size: 36px;
  padding-right: 2vw;
}

.projects-wrapper {
  width: 100%;
  height: 25vh;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.projects-gallery {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 10vw;
  padding-left: 10vw;
}

.figure-caption {
    font-size: 1.25rem;
    color: #000000;
    margin-top: 5vh;
}

.container {
  max-width: 1320px;
}

@media only screen and (max-width: 880px) {
  .block-items {
    display: none;
  }
  .logo {
    margin-right: 21vw;
  }
  .map-pic {
    width: 100%;
    height: auto;
  }
  .projects-text {
    padding-left: 8vw !important;
  }
}

@media only screen and (min-width: 992px) {
  .block-items {
    margin-right: 10% !important;
  }
  .projects-text {
    margin-left: 1vw;
  }
}


@media only screen and (min-width: 600px) {
    .block-items {
      margin-right: 10% !important;
    }
    .projects-text {
      margin-left: 1vw;
    }
  }